[DEV]
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER=
REDDIT_PASSWORD=
REDDIT_USERAGENT=
SUB_REDDIT=
HIGH_VOLUME_FLAIR=

[LIVE]
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER=
REDDIT_PASSWORD=
REDDIT_USERAGENT=
SUB_REDDIT=
HIGH_VOLUME_FLAIR=