[DEV]
REDDIT_CLIENT_ID=xxxx
REDDIT_CLIENT_SECRET=xxxx
REDDIT_USER=xxxx
REDDIT_PASSWORD=xxxx
REDDIT_USERAGENT=xxxx
SUB_REDDIT=xxxx
HIGH_VOLUME_FLAIR=xxxx

[LIVE]
REDDIT_CLIENT_ID=xxxx
REDDIT_CLIENT_SECRET=xxxx
REDDIT_USER=xxxx
REDDIT_PASSWORD=xxxx
REDDIT_USERAGENT=xxxx
SUB_REDDIT=xxxx
HIGH_VOLUME_FLAIR=xxxx